{% extends 'index.html' %} {% block title %} Login {% endblock title %}
{%block content %}
<div class="mt-6 mx-auto w-1/2 px-6 pb-3 bg-gray-200 rounded-xl">
  <h1 class="text-center text-3xl py-6 font-semibold">Login</h1>
  <form action="{% url 'home:login' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="block capitalize mb-2">username</label>
      {{form.username}}
    </div>
  
    <div class="mb-3">
      <label class="block capitalize mb-2">password</label>
      {{form.password}}
    </div>
   
    {% if form.errors or form.non_field_errors %}
    <div class="bg-red-100 mb-3 p-6">
      {% for field in form %} {{field.errors}} {%endfor %}
      {{form.non_field_errors}}
    </div>
    {% endif %}
  <div class="grid justify-center">
      <button
      class="py-2 capitalize px-6 mx-auto rounded-xl bg-slate-800 text-white"
      type="submit"
    >
      Login
    </button>
    </div>
  </form>
</div>

{% endblock content %}
